[submodule "sites/all/modules/features/common"]
	path = sites/all/modules/features/common
	url = https://github.com/OPIN-INTRANET/common.git
[submodule "sites/all/modules/features/research"]
	path = sites/all/modules/features/research
	url = https://github.com/OPIN-INTRANET/research.git
[submodule "sites/all/modules/features/sales"]
	path = sites/all/modules/features/sales
	url = https://github.com/OPIN-INTRANET/sales.git
[submodule "sites/all/modules/features/team_members"]
	path = sites/all/modules/features/team_members
	url = https://github.com/OPIN-INTRANET/team_members.git
[submodule "sites/all/modules/features/projects"]
	path = sites/all/modules/features/projects
	url = https://github.com/OPIN-INTRANET/projects.git
[submodule "sites/all/modules/features/contracts"]
	path = sites/all/modules/features/contracts
	url = https://github.com/OPIN-INTRANET/contracts.git
[submodule "sites/all/modules/features/finance"]
	path = sites/all/modules/features/finance
	url = https://github.com/OPIN-INTRANET/finance.git
[submodule "sites/all/modules/features/clients"]
	path = sites/all/modules/features/clients
	url = https://github.com/OPIN-INTRANET/clients.git
[submodule "profiles/checkpoint/modules/contrib/ace_editor"]
	path = profiles/checkpoint/modules/contrib/ace_editor
	url = http://git.drupal.org/project/ace_editor.git
[submodule "profiles/checkpoint/modules/contrib/link"]
	path = profiles/checkpoint/modules/contrib/link
	url = http://git.drupal.org/project/link.git
[submodule "profiles/checkpoint/modules/contrib/maxlength"]
	path = profiles/checkpoint/modules/contrib/maxlength
	url = http://git.drupal.org/project/maxlength.git
[submodule "profiles/checkpoint/modules/contrib/media"]
	path = profiles/checkpoint/modules/contrib/media
	url = http://git.drupal.org/project/media.git
[submodule "profiles/checkpoint/modules/contrib/admin_language"]
	path = profiles/checkpoint/modules/contrib/admin_language
	url = http://git.drupal.org/project/admin_language.git
[submodule "profiles/checkpoint/modules/contrib/memcache"]
	path = profiles/checkpoint/modules/contrib/memcache
	url = http://git.drupal.org/project/memcache.git
[submodule "profiles/checkpoint/modules/contrib/admin_menu"]
	path = profiles/checkpoint/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "profiles/checkpoint/modules/contrib/menu_attributes"]
	path = profiles/checkpoint/modules/contrib/menu_attributes
	url = http://git.drupal.org/project/menu_attributes.git
[submodule "profiles/checkpoint/modules/contrib/admin_views"]
	path = profiles/checkpoint/modules/contrib/admin_views
	url = http://git.drupal.org/project/admin_views.git
[submodule "profiles/checkpoint/modules/contrib/menu_block"]
	path = profiles/checkpoint/modules/contrib/menu_block
	url = http://git.drupal.org/project/menu_block.git
[submodule "profiles/checkpoint/modules/contrib/menu_import"]
	path = profiles/checkpoint/modules/contrib/menu_import
	url = http://git.drupal.org/project/menu_import.git
[submodule "profiles/checkpoint/modules/contrib/menu_position"]
	path = profiles/checkpoint/modules/contrib/menu_position
	url = http://git.drupal.org/project/menu_position.git
[submodule "profiles/checkpoint/modules/contrib/metatag"]
	path = profiles/checkpoint/modules/contrib/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "profiles/checkpoint/modules/contrib/bean"]
	path = profiles/checkpoint/modules/contrib/bean
	url = http://git.drupal.org/project/bean.git
[submodule "profiles/checkpoint/modules/contrib/migrate"]
	path = profiles/checkpoint/modules/contrib/migrate
	url = http://git.drupal.org/project/migrate.git
[submodule "profiles/checkpoint/modules/contrib/better_exposed_filters"]
	path = profiles/checkpoint/modules/contrib/better_exposed_filters
	url = http://git.drupal.org/project/better_exposed_filters.git
[submodule "profiles/checkpoint/modules/contrib/migrate_d2d"]
	path = profiles/checkpoint/modules/contrib/migrate_d2d
	url = http://git.drupal.org/project/migrate_d2d.git
[submodule "profiles/checkpoint/modules/contrib/ctools"]
	path = profiles/checkpoint/modules/contrib/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "profiles/checkpoint/modules/contrib/date"]
	path = profiles/checkpoint/modules/contrib/date
	url = http://git.drupal.org/project/date.git
[submodule "profiles/checkpoint/modules/contrib/password_policy"]
	path = profiles/checkpoint/modules/contrib/password_policy
	url = http://git.drupal.org/project/password_policy.git
[submodule "profiles/checkpoint/modules/contrib/devel"]
	path = profiles/checkpoint/modules/contrib/devel
	url = http://git.drupal.org/project/devel.git
[submodule "profiles/checkpoint/modules/contrib/pathauto"]
	path = profiles/checkpoint/modules/contrib/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "profiles/checkpoint/modules/contrib/diff"]
	path = profiles/checkpoint/modules/contrib/diff
	url = http://git.drupal.org/project/diff.git
[submodule "profiles/checkpoint/modules/contrib/picture"]
	path = profiles/checkpoint/modules/contrib/picture
	url = http://git.drupal.org/project/picture.git
[submodule "profiles/checkpoint/modules/contrib/dragndrop_uploads"]
	path = profiles/checkpoint/modules/contrib/dragndrop_uploads
	url = http://git.drupal.org/project/dragndrop_uploads.git
[submodule "profiles/checkpoint/modules/contrib/pm_existing_pages"]
	path = profiles/checkpoint/modules/contrib/pm_existing_pages
	url = http://git.drupal.org/project/pm_existing_pages.git
[submodule "profiles/checkpoint/modules/contrib/querypath"]
	path = profiles/checkpoint/modules/contrib/querypath
	url = http://git.drupal.org/project/querypath.git
[submodule "profiles/checkpoint/modules/contrib/email"]
	path = profiles/checkpoint/modules/contrib/email
	url = http://git.drupal.org/project/email.git
[submodule "profiles/checkpoint/modules/contrib/redirect"]
	path = profiles/checkpoint/modules/contrib/redirect
	url = http://git.drupal.org/project/redirect.git
[submodule "profiles/checkpoint/modules/contrib/entity"]
	path = profiles/checkpoint/modules/contrib/entity
	url = http://git.drupal.org/project/entity.git
[submodule "profiles/checkpoint/modules/contrib/entity_translation"]
	path = profiles/checkpoint/modules/contrib/entity_translation
	url = http://git.drupal.org/project/entity_translation.git
[submodule "profiles/checkpoint/modules/contrib/entityreference"]
	path = profiles/checkpoint/modules/contrib/entityreference
	url = http://git.drupal.org/project/entityreference.git
[submodule "profiles/checkpoint/modules/contrib/search404"]
	path = profiles/checkpoint/modules/contrib/search404
	url = http://git.drupal.org/project/search404.git
[submodule "profiles/checkpoint/modules/contrib/fapi_validation"]
	path = profiles/checkpoint/modules/contrib/fapi_validation
	url = http://git.drupal.org/project/fapi_validation.git
[submodule "profiles/checkpoint/modules/contrib/semanticviews"]
	path = profiles/checkpoint/modules/contrib/semanticviews
	url = http://git.drupal.org/project/semanticviews.git
[submodule "profiles/checkpoint/modules/contrib/site_audit"]
	path = profiles/checkpoint/modules/contrib/site_audit
	url = http://git.drupal.org/project/site_audit.git
[submodule "profiles/checkpoint/modules/contrib/fences"]
	path = profiles/checkpoint/modules/contrib/fences
	url = http://git.drupal.org/project/fences.git
[submodule "profiles/checkpoint/modules/contrib/site_verify"]
	path = profiles/checkpoint/modules/contrib/site_verify
	url = http://git.drupal.org/project/site_verify.git
[submodule "profiles/checkpoint/modules/contrib/field_collection"]
	path = profiles/checkpoint/modules/contrib/field_collection
	url = http://git.drupal.org/project/field_collection.git
[submodule "profiles/checkpoint/modules/contrib/field_formatter_settings"]
	path = profiles/checkpoint/modules/contrib/field_formatter_settings
	url = http://git.drupal.org/project/field_formatter_settings.git
[submodule "profiles/checkpoint/modules/contrib/strongarm"]
	path = profiles/checkpoint/modules/contrib/strongarm
	url = http://git.drupal.org/project/strongarm.git
[submodule "profiles/checkpoint/modules/contrib/field_group"]
	path = profiles/checkpoint/modules/contrib/field_group
	url = http://git.drupal.org/project/field_group.git
[submodule "profiles/checkpoint/modules/contrib/taxonomy_csv"]
	path = profiles/checkpoint/modules/contrib/taxonomy_csv
	url = http://git.drupal.org/project/taxonomy_csv.git
[submodule "profiles/checkpoint/modules/contrib/field_validation"]
	path = profiles/checkpoint/modules/contrib/field_validation
	url = http://git.drupal.org/project/field_validation.git
[submodule "profiles/checkpoint/modules/contrib/title"]
	path = profiles/checkpoint/modules/contrib/title
	url = http://git.drupal.org/project/title.git
[submodule "profiles/checkpoint/modules/contrib/file_entity"]
	path = profiles/checkpoint/modules/contrib/file_entity
	url = http://git.drupal.org/project/file_entity.git
[submodule "profiles/checkpoint/modules/contrib/token"]
	path = profiles/checkpoint/modules/contrib/token
	url = http://git.drupal.org/project/token.git
[submodule "profiles/checkpoint/modules/contrib/flag"]
	path = profiles/checkpoint/modules/contrib/flag
	url = http://git.drupal.org/project/flag.git
[submodule "profiles/checkpoint/modules/contrib/user_import"]
	path = profiles/checkpoint/modules/contrib/user_import
	url = http://git.drupal.org/project/user_import.git
[submodule "profiles/checkpoint/modules/contrib/userpoints"]
	path = profiles/checkpoint/modules/contrib/userpoints
	url = http://git.drupal.org/project/userpoints.git
[submodule "profiles/checkpoint/modules/contrib/submodule"]
	path = profiles/checkpoint/modules/contrib/submodule
	url = http://git.drupal.org/project/variable.git
[submodule "profiles/checkpoint/modules/contrib/hacked"]
	path = profiles/checkpoint/modules/contrib/hacked
	url = http://git.drupal.org/project/hacked.git
[submodule "profiles/checkpoint/modules/contrib/views_bulk_operations"]
	path = profiles/checkpoint/modules/contrib/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations.git
[submodule "profiles/checkpoint/modules/contrib/honeypot"]
	path = profiles/checkpoint/modules/contrib/honeypot
	url = http://git.drupal.org/project/honeypot.git
[submodule "profiles/checkpoint/modules/contrib/views_fieldset"]
	path = profiles/checkpoint/modules/contrib/views_fieldset
	url = http://git.drupal.org/project/views_fieldset.git
[submodule "profiles/checkpoint/modules/contrib/html5_tools"]
	path = profiles/checkpoint/modules/contrib/html5_tools
	url = http://git.drupal.org/project/html5_tools.git
[submodule "profiles/checkpoint/modules/contrib/i18n"]
	path = profiles/checkpoint/modules/contrib/i18n
	url = http://git.drupal.org/project/i18n.git
[submodule "profiles/checkpoint/modules/contrib/views_litepager"]
	path = profiles/checkpoint/modules/contrib/views_litepager
	url = http://git.drupal.org/project/views_litepager.git
[submodule "profiles/checkpoint/modules/contrib/i18nviews"]
	path = profiles/checkpoint/modules/contrib/i18nviews
	url = http://git.drupal.org/project/i18nviews.git
[submodule "profiles/checkpoint/modules/contrib/views_record_count"]
	path = profiles/checkpoint/modules/contrib/views_record_count
	url = http://git.drupal.org/project/views_record_count.git
[submodule "profiles/checkpoint/modules/contrib/inline_entity_form"]
	path = profiles/checkpoint/modules/contrib/inline_entity_form
	url = http://git.drupal.org/project/inline_entity_form.git
[submodule "profiles/checkpoint/modules/contrib/w3c_validator"]
	path = profiles/checkpoint/modules/contrib/w3c_validator
	url = http://git.drupal.org/project/w3c_validator.git
[submodule "profiles/checkpoint/modules/contrib/workbench"]
	path = profiles/checkpoint/modules/contrib/workbench
	url = http://git.drupal.org/project/workbench.git
[submodule "profiles/checkpoint/modules/contrib/ldap"]
	path = profiles/checkpoint/modules/contrib/ldap
	url = http://git.drupal.org/project/ldap.git
[submodule "profiles/checkpoint/modules/contrib/workbench_moderation"]
	path = profiles/checkpoint/modules/contrib/workbench_moderation
	url = http://git.drupal.org/project/workbench_moderation.git
[submodule "profiles/checkpoint/modules/contrib/leaflet_more_maps"]
	path = profiles/checkpoint/modules/contrib/leaflet_more_maps
	url = http://git.drupal.org/project/leaflet_more_maps.git
[submodule "profiles/checkpoint/modules/contrib/xmlsitemap"]
	path = profiles/checkpoint/modules/contrib/xmlsitemap
	url = http://git.drupal.org/project/xmlsitemap.git
[submodule "profiles/checkpoint/modules/contrib/betterlogin"]
	path = profiles/checkpoint/modules/contrib/betterlogin
	url = http://git.drupal.org/project/betterlogin.git
[submodule "profiles/checkpoint/modules/contrib/calendar"]
	path = profiles/checkpoint/modules/contrib/calendar
	url = http://git.drupal.org/project/calendar.git
[submodule "profiles/checkpoint/modules/contrib/clientside_validation"]
	path = profiles/checkpoint/modules/contrib/clientside_validation
	url = http://git.drupal.org/project/clientside_validation.git
[submodule "profiles/checkpoint/modules/contrib/coder"]
	path = profiles/checkpoint/modules/contrib/coder
	url = http://git.drupal.org/project/coder.git
[submodule "profiles/checkpoint/modules/contrib/context"]
	path = profiles/checkpoint/modules/contrib/context
	url = http://git.drupal.org/project/context.git
[submodule "profiles/checkpoint/modules/contrib/elements"]
	path = profiles/checkpoint/modules/contrib/elements
	url = http://git.drupal.org/project/elements.git
[submodule "profiles/checkpoint/modules/contrib/expire"]
	path = profiles/checkpoint/modules/contrib/expire
	url = http://git.drupal.org/project/expire.git
[submodule "profiles/checkpoint/modules/contrib/geofield"]
	path = profiles/checkpoint/modules/contrib/geofield
	url = http://git.drupal.org/project/geofield.git
[submodule "profiles/checkpoint/modules/contrib/geophp"]
	path = profiles/checkpoint/modules/contrib/geophp
	url = http://git.drupal.org/project/geophp.git
[submodule "profiles/checkpoint/modules/contrib/globalredirect"]
	path = profiles/checkpoint/modules/contrib/globalredirect
	url = http://git.drupal.org/project/globalredirect.git
[submodule "profiles/checkpoint/modules/contrib/google_analytics"]
	path = profiles/checkpoint/modules/contrib/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "profiles/checkpoint/modules/contrib/google_image_sitemap"]
	path = profiles/checkpoint/modules/contrib/google_image_sitemap
	url = http://git.drupal.org/project/google_image_sitemap.git
[submodule "profiles/checkpoint/modules/contrib/modernizr"]
	path = profiles/checkpoint/modules/contrib/modernizr
	url = http://git.drupal.org/project/modernizr.git
[submodule "profiles/checkpoint/modules/contrib/module_filter"]
	path = profiles/checkpoint/modules/contrib/module_filter
	url = http://git.drupal.org/project/module_filter.git
[submodule "profiles/checkpoint/modules/contrib/multiupload_filefield_widget"]
	path = profiles/checkpoint/modules/contrib/multiupload_filefield_widget
	url = http://git.drupal.org/project/multiupload_filefield_widget.git
[submodule "profiles/checkpoint/modules/contrib/multiupload_imagefield_widget"]
	path = profiles/checkpoint/modules/contrib/multiupload_imagefield_widget
	url = http://git.drupal.org/project/multiupload_imagefield_widget.git
[submodule "profiles/checkpoint/modules/contrib/pa11y_integration"]
	path = profiles/checkpoint/modules/contrib/pa11y_integration
	url = http://git.drupal.org/project/pa11y_integration.git
[submodule "profiles/checkpoint/modules/contrib/page_title"]
	path = profiles/checkpoint/modules/contrib/page_title
	url = http://git.drupal.org/project/page_title.git
[submodule "profiles/checkpoint/modules/contrib/panelizer"]
	path = profiles/checkpoint/modules/contrib/panelizer
	url = http://git.drupal.org/project/panelizer.git
[submodule "profiles/checkpoint/modules/contrib/panels"]
	path = profiles/checkpoint/modules/contrib/panels
	url = http://git.drupal.org/project/panels.git
[submodule "profiles/checkpoint/modules/contrib/references_dialog"]
	path = profiles/checkpoint/modules/contrib/references_dialog
	url = http://git.drupal.org/project/references_dialog.git
[submodule "profiles/checkpoint/modules/contrib/rules"]
	path = profiles/checkpoint/modules/contrib/rules
	url = http://git.drupal.org/project/rules.git
[submodule "profiles/checkpoint/modules/contrib/scheduler"]
	path = profiles/checkpoint/modules/contrib/scheduler
	url = http://git.drupal.org/project/scheduler.git
[submodule "profiles/checkpoint/modules/contrib/seckit"]
	path = profiles/checkpoint/modules/contrib/seckit
	url = http://git.drupal.org/project/seckit.git
[submodule "profiles/checkpoint/modules/contrib/facetapi_bonus"]
	path = profiles/checkpoint/modules/contrib/facetapi_bonus
	url = http://git.drupal.org/project/facetapi_bonus.git
[submodule "profiles/checkpoint/modules/contrib/security_review"]
	path = profiles/checkpoint/modules/contrib/security_review
	url = http://git.drupal.org/project/security_review.git
[submodule "profiles/checkpoint/modules/contrib/semantic_fields"]
	path = profiles/checkpoint/modules/contrib/semantic_fields
	url = http://git.drupal.org/project/semantic_fields.git
[submodule "profiles/checkpoint/modules/contrib/features"]
	path = profiles/checkpoint/modules/contrib/features
	url = http://git.drupal.org/project/features.git
[submodule "profiles/checkpoint/modules/contrib/services"]
	path = profiles/checkpoint/modules/contrib/services
	url = http://git.drupal.org/project/services.git
[submodule "profiles/checkpoint/modules/contrib/features_translations"]
	path = profiles/checkpoint/modules/contrib/features_translations
	url = http://git.drupal.org/project/features_translations.git
[submodule "profiles/checkpoint/modules/contrib/file_lock"]
	path = profiles/checkpoint/modules/contrib/file_lock
	url = http://git.drupal.org/project/file_lock.git
[submodule "profiles/checkpoint/modules/contrib/translation_helpers"]
	path = profiles/checkpoint/modules/contrib/translation_helpers
	url = http://git.drupal.org/project/translation_helpers.git
[submodule "profiles/checkpoint/modules/contrib/username_enumeration_prevention"]
	path = profiles/checkpoint/modules/contrib/username_enumeration_prevention
	url = http://git.drupal.org/project/username_enumeration_prevention.git
[submodule "profiles/checkpoint/modules/contrib/variable"]
	path = profiles/checkpoint/modules/contrib/variable
	url = http://git.drupal.org/project/variable.git
[submodule "profiles/checkpoint/modules/contrib/varnish"]
	path = profiles/checkpoint/modules/contrib/varnish
	url = http://git.drupal.org/project/varnish.git
[submodule "profiles/checkpoint/modules/contrib/views"]
	path = profiles/checkpoint/modules/contrib/views
	url = http://git.drupal.org/project/views.git
[submodule "profiles/checkpoint/modules/contrib/googlenews"]
	path = profiles/checkpoint/modules/contrib/googlenews
	url = http://git.drupal.org/project/googlenews.git
[submodule "profiles/checkpoint/modules/contrib/views_autocomplete_filters"]
	path = profiles/checkpoint/modules/contrib/views_autocomplete_filters
	url = http://git.drupal.org/project/views_autocomplete_filters.git
[submodule "profiles/checkpoint/modules/contrib/hierarchical_select"]
	path = profiles/checkpoint/modules/contrib/hierarchical_select
	url = http://git.drupal.org/project/hierarchical_select.git
[submodule "profiles/checkpoint/modules/contrib/views_datasource"]
	path = profiles/checkpoint/modules/contrib/views_datasource
	url = http://git.drupal.org/project/views_datasource.git
[submodule "profiles/checkpoint/modules/contrib/views_infinite_scroll"]
	path = profiles/checkpoint/modules/contrib/views_infinite_scroll
	url = http://git.drupal.org/project/views_infinite_scroll.git
[submodule "profiles/checkpoint/modules/contrib/jquery_update"]
	path = profiles/checkpoint/modules/contrib/jquery_update
	url = http://git.drupal.org/project/jquery_update.git
[submodule "profiles/checkpoint/modules/contrib/l10n_update"]
	path = profiles/checkpoint/modules/contrib/l10n_update
	url = http://git.drupal.org/project/l10n_update.git
[submodule "profiles/checkpoint/modules/contrib/workbench_access"]
	path = profiles/checkpoint/modules/contrib/workbench_access
	url = http://git.drupal.org/project/workbench_access.git
[submodule "profiles/checkpoint/modules/contrib/leaflet"]
	path = profiles/checkpoint/modules/contrib/leaflet
	url = http://git.drupal.org/project/leaflet.git
[submodule "profiles/checkpoint/modules/contrib/wysiwyg"]
	path = profiles/checkpoint/modules/contrib/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "profiles/checkpoint/modules/contrib/libraries"]
	path = profiles/checkpoint/modules/contrib/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "profiles/checkpoint/modules/contrib/composer_manager"]
	path = profiles/checkpoint/modules/contrib/composer_manager
	url = http://git.drupal.org/project/composer_manager.git
[submodule "profiles/checkpoint/modules/contrib/search_api"]
	path = profiles/checkpoint/modules/contrib/search_api
	url = http://git.drupal.org/project/search_api.git
[submodule "profiles/checkpoint/modules/contrib/addressfield"]
	path = profiles/checkpoint/modules/contrib/addressfield
	url = http://git.drupal.org/project/addressfield.git
[submodule "profiles/checkpoint/modules/contrib/views_aggregator"]
	path = profiles/checkpoint/modules/contrib/views_aggregator
	url = http://git.drupal.org/project/views_aggregator.git
[submodule "profiles/checkpoint/modules/contrib/views_data_export"]
	path = profiles/checkpoint/modules/contrib/views_data_export
	url = http://git.drupal.org/project/views_data_export.git
[submodule "profiles/checkpoint/modules/contrib/facetapi"]
	path = profiles/checkpoint/modules/contrib/facetapi
	url = http://git.drupal.org/project/facetapi.git
[submodule "profiles/checkpoint/modules/contrib/blazemeter"]
	path = profiles/checkpoint/modules/contrib/blazemeter
	url = http://git.drupal.org/project/blazemeter.git
[submodule "profiles/checkpoint/modules/contrib/smtp"]
	path = profiles/checkpoint/modules/contrib/smtp
	url = http://git.drupal.org/project/smtp.git
[submodule "profiles/checkpoint/modules/contrib/breakpoints"]
	path = profiles/checkpoint/modules/contrib/breakpoints
	url = http://git.drupal.org/project/breakpoints.git
[submodule "profiles/checkpoint/modules/contrib/search_api_solr"]
	path = profiles/checkpoint/modules/contrib/search_api_solr
	url = http://git.drupal.org/project/search_api_solr.git
[submodule "profiles/checkpoint/modules/contrib/votingapi"]
	path = profiles/checkpoint/modules/contrib/votingapi
	url = http://git.drupal.org/project/votingapi.git
[submodule "profiles/checkpoint/modules/custom/navbar"]
	path = profiles/checkpoint/modules/custom/navbar
	url = http://git.drupal.org/project/navbar.git	
